<%- include('../header'); -%>
<div class="entourage-wrapper">
    <div class="entourage-bg color-burn">
    </div>
    <div class="entourage-arc align-self-center" id="entourage-arc"></div>
    <div class="entourage-section" id="entourage-section" onload="reveal()">
        <div class="entourage-content-wrapper">
            <div class="entourage-content vstack gap-5">
                <img class="entourage-title" src="/res/images/entourage.png">
                <div class="entourage-guests vstack gap-5">
                    <!-- wedding officiant -->
                    <div class="vstack entourage-guest-1-col">
                        <p class="cursive heading-3 reveal fade-bottom">
                            Wedding Officiant
                        </p>
                        <p class="sans-serif paragraph-3 reveal fade-bottom">
                            JAY ARVIN MANGILINAN
                        </p>
                    </div>
                    <!-- parents -->
                    <div class="hstack gap-3 entourage-hstack entourage-guest-1-col ">
                        <!-- groom -->
                        <div class="vstack entourage-guest-2-col">
                            <p class="cursive heading-3 reveal fade-bottom">
                                Parents of the Groom
                            </p>
                            <p class="sans-serif paragraph-3 reveal fade-bottom">
                                MR. ARIEL CORBITO
                            </p>
                            <p class="sans-serif paragraph-3 reveal fade-bottom">
                                MRS. LUZVIMINDA CORBITO
                            </p>
                        </div>
                        <!-- bride -->
                        <div class="vstack entourage-guest-2-col">
                            <p class="cursive heading-3 reveal fade-bottom">
                                Parents of the Bride
                            </p>
                            <p class="sans-serif paragraph-3 reveal fade-bottom">
                                MR. REYNALDO GALERIO
                            </p>
                            <p class="sans-serif paragraph-3 reveal fade-bottom">
                                MRS. MERCEDES GALERIO
                            </p>
                        </div>
                    </div>
                    <!-- principal sponsors -->
                    <div class="hstack gap-3 entourage-hstack entourage-guest-1-col ">
                        <div class="vstack entourage-guest-1-col">
                            <p class="cursive heading-3 reveal fade-bottom">
                                Principal Sponsors
                            </p>
                        </div>
                        <div class="hstack gap-3 entourage-hstack entourage-guest-1-col ">
                            <!-- male -->
                            <div class="vstack entourage-guest-2-col">
                                <p class="sans-serif paragraph-3 reveal fade-bottom">
                                    MR. ARNEL CORBITO
                                </p>
                                <p class="sans-serif paragraph-3 reveal fade-bottom">
                                    ENGR. ARTURO CORBITO
                                </p>
                                <p class="sans-serif paragraph-3 reveal fade-bottom">
                                    MR. EDWIN GALERIO
                                </p>
                                <p class="sans-serif paragraph-3 reveal fade-bottom">
                                    MR. HERMI PADILLA
                                </p>
                                <p class="sans-serif paragraph-3 reveal fade-bottom">
                                    MR. ALVIN MUÑOZ
                                </p>
                                <p class="sans-serif paragraph-3 reveal fade-bottom">
                                    MR. ARNULFO CORBITO
                                </p>
                                <p class="sans-serif paragraph-3 reveal fade-bottom">
                                    MR. JOSEF PEDROSO
                                </p>
                                <p class="sans-serif paragraph-3 reveal fade-bottom">
                                    MR. MARLON DE VERA
                                </p>
                            </div>
                            <!-- female -->
                            <div class="vstack entourage-guest-2-col">
                                <p class="sans-serif paragraph-3 reveal fade-bottom">
                                    MRS. ARMIDA CORBITO SERRANO
                                </p>
                                <p class="sans-serif paragraph-3 reveal fade-bottom">
                                    MRS. MARGIE CORBITO
                                </p>
                                <p class="sans-serif paragraph-3 reveal fade-bottom">
                                    MRS. ROSARIO CABANLIG BASA
                                </p>
                                <p class="sans-serif paragraph-3 reveal fade-bottom">
                                    MRS. CAROL PADILLA
                                </p>
                                <p class="sans-serif paragraph-3 reveal fade-bottom">
                                    MRS. ESTRELLA FRISCO
                                </p>
                                <p class="sans-serif paragraph-3 reveal fade-bottom">
                                    MRS. DIANA FORBES BUAN
                                </p>
                                <p class="sans-serif paragraph-3 reveal fade-bottom">
                                    MRS. MA. TERESA PEDROSO
                                </p>
                                <p class="sans-serif paragraph-3 reveal fade-bottom">
                                    MRS. BEVERLY DE VERA
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- secondary sponsors -->
                    <div class="hstack gap-3 entourage-hstack entourage-guest-1-col ">
                        <div class="vstack entourage-guest-1-col">
                            <p class="cursive heading-3 reveal fade-bottom">
                                Secondary Sponsors
                            </p>
                        </div>
                        <div class="hstack gap-3 entourage-hstack entourage-guest-1-col ">
                            <!-- male -->
                            <div class="vstack entourage-guest-2-col">
                                <p class="cursive heading-3 reveal fade-bottom">
                                    Bestman
                                </p>
                                <p class="sans-serif paragraph-3 reveal fade-bottom">
                                    MR. CHRISTIAN ERICK SIBUG
                                </p>
                            </div>
                            <!-- female -->
                            <div class="vstack entourage-guest-2-col">
                                <p class="cursive heading-3 reveal fade-bottom">
                                    Maid of Honor
                                </p>
                                <p class="sans-serif paragraph-3 reveal fade-bottom">
                                    MS. DENNELYN DE LEON
                                </p>
                            </div>
                        </div>
                        <div class="hstack gap-3 entourage-hstack entourage-guest-1-col ">
                            <!-- male -->
                            <div class="vstack entourage-guest-2-col">
                                <p class="cursive heading-3 reveal fade-bottom">
                                    Groomsmen
                                </p>
                                <p class="sans-serif paragraph-3 reveal fade-bottom">
                                    MR. CHIN MATHEW PRADO
                                </p>
                                <p class="sans-serif paragraph-3 reveal fade-bottom">
                                    MR. RENIEL GALERIO
                                </p>
                                <p class="sans-serif paragraph-3 reveal fade-bottom">
                                    ADRIAN CARL MUÑOZ
                                </p>
                            </div>
                            <!-- female -->
                            <div class="vstack entourage-guest-2-col">
                                <p class="cursive heading-3 reveal fade-bottom">
                                    Bridesmaids
                                </p>
                                <p class="sans-serif paragraph-3 reveal fade-bottom">
                                    MS. NESCILYN SUAISO
                                </p>
                                <p class="sans-serif paragraph-3 reveal fade-bottom">
                                    MS. DYLENE CARABALLE
                                </p>
                                <p class="sans-serif paragraph-3 reveal fade-bottom">
                                    MS. ANDREA CORBITO
                                </p>
                            </div>
                            <!-- little bridesmaids -->
                            <div class="vstack entourage-guest-1-col">
                                <p class="cursive heading-3 reveal fade-bottom">
                                    Little Bridesmaids
                                </p>
                                <p class="sans-serif paragraph-3 reveal fade-bottom">
                                    BIANCA SHANELLE GALERIO
                                </p>
                                <p class="sans-serif paragraph-3 reveal fade-bottom">
                                    AQUIZHA ALEXANDRA BELLE GALERIO
                                </p>
                                <p class="sans-serif paragraph-3 reveal fade-bottom">
                                    KHLOE KATE GALERIO
                                </p>
                                <p class="sans-serif paragraph-3 reveal fade-bottom">
                                    JHIYANNA BRIELLE GALERIO
                                </p>
                            </div>
                        </div>
                        <div class="hstack gap-3 entourage-hstack entourage-guest-1-col ">
                            <!-- candle -->
                            <div class="vstack entourage-guest-2-col">
                                <p class="cursive heading-3 reveal fade-bottom">
                                    To Light Our Path
                                </p>
                                <p class="sans-serif paragraph-3 reveal fade-bottom">
                                    MR. PEPITO CHOLO TOMAS
                                </p>
                                <p class="sans-serif paragraph-3 reveal fade-bottom">
                                    MS. REBECCA MAE SEVERINO
                                </p>
                            </div>
                            <!-- veil -->
                            <div class="vstack entourage-guest-2-col">
                                <p class="cursive heading-3 reveal fade-bottom">
                                    To Clothe Us One
                                </p>
                                <p class="sans-serif paragraph-3 reveal fade-bottom">
                                    MR. JUMER LAVARIAS
                                </p>
                                <p class="sans-serif paragraph-3 reveal fade-bottom">
                                    MS. SOPHIA EVE MONREAL
                                </p>
                            </div>
                            <!-- cord -->
                            <div class="vstack entourage-guest-1-col">
                                <p class="cursive heading-3 reveal fade-bottom">
                                    To Bind Us As One
                                </p>
                                <p class="sans-serif paragraph-3 reveal fade-bottom">
                                    MR. WARREN VICENTE
                                </p>
                                <p class="sans-serif paragraph-3 reveal fade-bottom">
                                    MRS. IRIS CORBITO VICENTE
                                </p>
                            </div>
                        </div>
                        <div class="hstack gap-3 entourage-hstack entourage-guest-1-col">
                            <!-- coin bearer -->
                            <div class="vstack entourage-guest-2-col">
                                <p class="cursive heading-3 reveal fade-bottom">
                                    Coin Bearer
                                </p>
                                <p class="sans-serif paragraph-3 reveal fade-bottom">
                                    STEVEN LEONSON GALERIO
                                </p>
                            </div>
                            <!-- bible bearer -->
                            <div class="vstack entourage-guest-2-col">
                                <p class="cursive heading-3 reveal fade-bottom">
                                    Bible Bearer
                                </p>
                                <p class="sans-serif paragraph-3 reveal fade-bottom">
                                    MAVEN EZEQUIAS CORBITO
                                </p>
                            </div>
                            <!-- ring bearer -->
                            <div class="vstack entourage-guest-1-col">
                                <p class="cursive heading-3 reveal fade-bottom">
                                    Ring Bearer
                                </p>
                                <p class="sans-serif paragraph-3 reveal fade-bottom">
                                    JIONHER BLEU GALERIO
                                </p>
                            </div>
                            <!-- flower girls -->
                            <div class="vstack entourage-guest-1-col">
                                <p class="cursive heading-3 reveal fade-bottom">
                                    Flower Girls
                                </p>
                                <p class="sans-serif paragraph-3 reveal fade-bottom">
                                    EUNICE GALERIO
                                </p>
                                <p class="sans-serif paragraph-3 reveal fade-bottom">
                                    SHAKAINA MAVIS LAVARIAS
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('../footer'); -%>
<script src="/script/entourage.js"></script>