
<div class="footer footer-accent pb-0" id="footer">
    <div class="footer-wrapper hstack gap-5 align-items-start">
        <div class="footer-logo">
            <img src="/res/images/emblem.png">
        </div>
        <div></div>
        <div class="footer-section footer-navigation v-stack">
            <p class="sans-serif paragraph-2 bold">
                NAVIGATE
            </p>
            <div>
                <a href="/" class="sans-serif paragraph-4">
                    HOME
                </a>
            </div>
            <div class="yspacer-3"></div>
            <div>
                <a href="/entourage" class="sans-serif paragraph-4">
                    ENTOURAGE
                </a>
            </div>
            <div class="yspacer-3"></div>
            <div>
                <a href="/details" class="sans-serif paragraph-4">
                    DETAILS
                </a>
            </div>
            <div class="yspacer-3"></div>
            <div>
                <a href="/gifts" class="sans-serif paragraph-4">
                    GIFTS
                </a>
            </div>
        </div>
        <div></div>
        <div class="footer-section footer-contact v-stack">
            <p class="sans-serif paragraph-2 bold">
                CONTACT US
            </p>
            <div>
                <a href="mailto:contact@dlperfecttime.com" class="sans-serif paragraph-4">
                    contact@dlperfecttime.com
                </a>
            </div>
            <div class="yspacer-3"></div>
            <div>
                <a href="https://www.facebook.com/eljaygalerio" class="sans-serif paragraph-4">
                    https://www.facebook.com/eljaygalerio
                </a>
            </div>
            <div class="yspacer-3"></div>
            <div>
                <a href="https://www.facebook.com/dcorbito" class="sans-serif paragraph-4">
                    https://www.facebook.com/dcorbito
                </a>
            </div>
        </div>
        <div></div>
        <div class="footer-section footer-hashtag v-stack">
            <p class="sans-serif paragraph-2 bold">
                #DanielFoundHisLady
            </p>
            <p class="sans-serif paragraph-4">
                Please use the hashtag above to<br>help us document our special day
            </p>
        </div>
    </div>
    <div class="container-fluid d-flex align-items-center">
        <p class="paragraph-5 sans-serif light mx-auto w-auto">
        THIS WEBSITE IS DEVELOPED AS A GIFT FROM RENIEL DON GALERIO
        </p>
    </div>
</div>