<div class="main-area header" id="header">
    <div class="header-logo-wrapper container-fluid d-flex align-items-center justify-content-between align-self-center no-padding" id="header-logo-wrapper">
        <img class="header-logo contain" id="header-logo" src="/res/images/logo-small.png">
        <img class="header-menu align-self-center" src="/res/images/hamburger-menu.png" onclick="onMenuClick()">
    </div>
    <div class="d-flex align-items-center header-nav">
        <a href="/gifts">GIFTS</a>
        <div class="header-nav-separator"></div>
        <a href="/details">DETAILS</a>
        <div class="header-nav-separator"></div>
        <a href="/entourage">ENTOURAGE</a>
        <div class="header-nav-separator"></div>
        <a href="/">HOME</a>
    </div>
    <div class="header-nav-mobile-wrapper blur hidden" id="header-nav-mobile-wrapper">
        <div class="header-logo-wrapper container-fluid d-flex align-items-center justify-content-between align-self-center no-padding">
            <img class="header-logo contain" src="/res/images/logo-small.png">
            <img class="header-menu align-self-center" src="/res/images/close-menu.png" onclick="onCloseMenuClick()">
        </div>
        <div class="d-flex row align-items-center header-nav-mobile">
            <div class="yspacer-5"></div>
            <a href="/">HOME</a>
            <div class="yspacer-4"></div>
            <a href="/entourage">ENTOURAGE</a>
            <div class="yspacer-4"></div>
            <a href="/details">DETAILS</a>
            <div class="yspacer-4"></div>
            <a href="/gifts">GIFTS</a>
        </div>
    </div>
</div>