.page-section {
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

.main-area {
    padding-left: 56px;
    padding-right: 56px;
}

@media screen and (max-width: 600px) {
    .main-area {
        padding-left: 24px;
        padding-right: 24px;
    }
}

.no-padding {
    padding: 0;
}

.carousel {
    z-index: 900;
}

.blur {
    backdrop-filter: blur(34px);
    -webkit-backdrop-filter: blur(34px);
}

.color-burn {
    mix-blend-mode: color-burn;
}

.hidden {
    visibility: hidden;
}

/* SPACERS */
.xspacer-1 {
    width: 0.25rem;
    height: auto;
}

.xspacer-2 {
    width: 0.5rem;
    height: auto;
}

.xspacer-3 {
    width: 1rem;
    height: auto;
}

.xspacer-4 {
    width: 1.5rem;
    height: auto;
}

.xspacer-5 {
    width: 3rem;
    height: auto;
}

.yspacer-1 {
    height: 0.25rem;
    width: auto;
}

.yspacer-2 {
    height: 0.5rem;
    width: auto;
}

.yspacer-3 {
    height: 1rem;
    width: auto;
}

.yspacer-4 {
    height: 1.5rem;
    width: auto;
}

.yspacer-5 {
    height: 3rem;
    width: auto;
}

/* IMAGE CONTENT FILL */
.none {
    /* Image is not scaled */ 
    object-fit: none;
}

.fill {
    /* Image is scaled to fill the container. */
    /* Aspect ratio IS NOT maintained */
    object-fit: fill;
}

.cover {
    /* Image is scaled to fill the container. */
    /* Aspect ratio IS maintained */
    object-fit: cover;
}

.contain {
    /* Image is scaled to fit within the container. */
    /* Aspect ratio IS maintained */
    object-fit: contain;
}

.scale-down {
    /* Uses either 'none' or 'contain' to produce the smallest image size */
    object-fit: scale-down;
}

/* ANIMATIONS */
.reveal {
    position: relative;
    opacity: 0;
}
.reveal.active {
    opacity: 1;
}
.active.fade-bottom {
    animation: fade-bottom 1s ease-in;
}
@keyframes fade-bottom {
    0% {
        transform: translateY(50px);
        transform: scale(0);
        opacity: 0;
    }
    50% {
        transform: translateY(0);
        transform: scale(1);
        opacity: 1;
}
}