:root {
    --neutral-A48A71: #A48A71;
    --neutral-A2978E: #A2978E;
    --neutral-97826D: #97826D;
    --neutral-97826D3F: #97826D3F;
    --neutral-3A332C: #3A332C;
    --neutral-595652: #595652;
    --neutral-060606B2: #060606B2;
    --neutral-FCFBF6: #FCFBF6;
    --neutral-D9D9D9: #D9D9D9;
    --text-shade-dark: #222222;
    --text-shade-light: #FFFFFF;
    --gradient-light: #FFFFFF;
    --light-clear: #FFFFFF00;
    --dark-clear: #22222200;

    --palette-DCD1C7: #DCD1C7;
    --palette-CFB7A9: #CFB7A9;
    --palette-D0B9AB: #D0B9AB;
    --palette-B29D8F: #B29D8F;
    --palette-C2ADA3: #C2ADA3;
    --palette-D2C6B8: #D2C6B8;
    --palette-9F8C74: #9F8C74;
    --palette-D2C5BD: #D2C5BD;
}