html {
    box-sizing: border-box;
}

*, 
*::before,
*::after {
    margin: 0;
    padding: 0;
    width: inherit;
    height: inherit;
    box-sizing: inherit;
}

*::-webkit-scrollbar{
    display: none;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: inherit;
    font-family: 'Lato', sans-serif !important;
}
