<%- include('../header'); -%>
<div class="details-wrapper bg-leaves">
    <div class="details-arc align-self-center bg-leaves" id="entourage-arc"></div>
    <div class="details-section bg-leaves" id="entourage-section">
        <div class="details-content-wrapper">
            <div class="details-content vstack gap-5">
                <img class="details-title" src="/res/images/details.png">
                <div class="details-entries vstack gap-5">
                    <!-- attire -->
                    <div class="details-entry-1-col vstack gap-4">
                        <div class="vstack">
                            <img class="details-entry-visual-attire reveal fade-bottom" src="/res/images/details-attire.png">
                            <p class="cursive heading-2 reveal fade-bottom">
                                Attire
                            </p>
                            <div class="details-entry-palette hstack gap-1">
                                <div class="palette palette-1 reveal fade-bottom"></div>
                                <div class="palette palette-2 reveal fade-bottom"></div>
                                <div class="palette palette-3 reveal fade-bottom"></div>
                                <div class="palette palette-4 reveal fade-bottom"></div>
                                <div class="palette palette-5 reveal fade-bottom"></div>
                                <div class="palette palette-6 reveal fade-bottom"></div>
                                <div class="palette palette-7 reveal fade-bottom"></div>
                                <div class="palette palette-8 reveal fade-bottom"></div>
                            </div>
                        </div>
                        <p class="sans-serif paragraph-3 reveal fade-bottom">
                            NEUTRAL COLORS OR ANY SHADE OF BROWN.<br>WE ENCOURAGE YOU TO DRESS ACCORDING TO OUR COLOR THEME
                        </p>
                        <div class="vstack gap-1">
                            <p class="cursive heading-4 reveal fade-bottom">
                                Principal Sponsors
                            </p>
                            <p class="sans-serif paragraph-2 bold reveal fade-bottom">
                                FORMAL ATTIRE
                            </p>
                            <p class="sans-serif paragraph-3 reveal fade-bottom">
                                LADIES: GOWN / LONG DRESS
                            </p>
                            <p class="sans-serif paragraph-3 reveal fade-bottom">
                                MEN: SUIT, SLACKS
                            </p>
                        </div>
                        <div class="vstack gap-1">
                            <p class="cursive heading-4 reveal fade-bottom">
                                Guests
                            </p>
                            <p class="sans-serif paragraph-2 bold reveal fade-bottom">
                                FORMAL / SEMI-FORMAL ATTIRE
                            </p>
                            <p class="sans-serif paragraph-3 reveal fade-bottom">
                                LADIES: COCKTAIL DRESS, TROUSER, COAT
                            </p>
                            <p class="sans-serif paragraph-3 reveal fade-bottom">
                                MEN: POLO, SLACKS
                            </p>
                        </div>
                    </div>
                    <!-- map -->
                    <div class="details-entry-1-col vstack">
                        <img class="details-entry-visual-map reveal fade-bottom" src="/res/images/details-map.png">
                        <p class="cursive heading-2 reveal fade-bottom">
                            Map
                        </p>
                        <div class="hstack gap-3 details-hstack details-entry-1-col details-map">
                            <div class="details-entry-2-col vstack gap-3">
                                <div class="vstack">
                                    <p class="cursive heading-3 reveal fade-bottom">
                                        Hardin De Asis
                                    </p>
                                    <p class="sans-serif paragraph-3 reveal fade-bottom">
                                        MUZON ROAD,<br>BARANGAY MENDEZ, CAVITE
                                    </p>
                                </div>
                                <p class="sans-serif paragraph-3 reveal fade-bottom">
                                    SCAN OR CLICK THE<br>QR CODE TO GET DIRECTIONS<br>VIA GOOGLE MAPS
                                </p>
                            </div>
                            <div class="details-entry-2-col reveal fade-bottom">
                                <a href="https://www.google.com/maps/place/Hardin+de+Asis/@14.1448499,120.8974958,15z/data=!4m6!3m5!1s0x33bd79e869def5bb:0x2f46c1bb6772e74f!8m2!3d14.1448499!4d120.8974958!16s%2Fg%2F11g4djl38d">
                                    <img class="details-map-qr" src="/res/images/map-qr-code.png">
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- countdown -->
                    <div class="details-entry-1-col vstack gap-4">
                        <div class="vstack">
                            <img class="details-entry-visual-countdown reveal fade-bottom" src="/res/images/details-countdown.png">
                            <p class="cursive heading-2 reveal fade-bottom">
                                Countdown
                            </p>
                        </div>
                        <div class="hstack gap-3 details-hstack countdown-wrapper mx-auto" id="countdown-wrapper">
                            <div class="vstack countdown reveal fade-bottom">
                                <p class="sans-serif heading-3" id="countdown-days">0</p>
                                <p class="cursive heading-3">Days</p>
                            </div>
                            <div class="vstack countdown reveal fade-bottom">
                                <p class="sans-serif heading-3" id="countdown-hours">0</p>
                                <p class="cursive heading-3">Hours</p>
                            </div>
                            <div class="vstack countdown reveal fade-bottom">
                                <p class="sans-serif heading-3" id="countdown-minutes">0</p>
                                <p class="cursive heading-3">Minutes</p>
                            </div>
                            <div class="vstack countdown reveal fade-bottom">
                                <p class="sans-serif heading-3" id="countdown-seconds">0</p>
                                <p class="cursive heading-3">Seconds</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/script/countdown.js"></script>
<%- include('../footer'); -%>