<%- include('../header'); -%>
<div class="details-wrapper">
    <div class="details-bg color-burn">
    </div>
    <div class="details-arc align-self-center" id="entourage-arc"></div>
    <div class="details-section" id="entourage-section">
        <div class="details-content-wrapper">
            <div class="details-content vstack gap-5">
                <img class="details-title" src="/res/images/details.png">
                <div class="details-entries vstack gap-5">
                    <!-- attire -->
                    <div class="details-entry-1-col vstack gap-4">
                        <div class="vstack">
                            <img class="details-entry-visual" src="/res/images/details-attire.png">
                            <p class="cursive heading-2">
                                Attire
                            </p>
                            <div class="details-entry-palette hstack gap-1">
                                <div class="palette palette-1"></div>
                                <div class="palette palette-2"></div>
                                <div class="palette palette-3"></div>
                                <div class="palette palette-4"></div>
                                <div class="palette palette-5"></div>
                                <div class="palette palette-6"></div>
                                <div class="palette palette-7"></div>
                                <div class="palette palette-8"></div>
                            </div>
                        </div>
                        <p class="sans-serif paragraph-3">
                            NEUTRAL COLORS OR ANY SHADE OF BROWN.<br>WE ENCOURAGE YOU TO DRESS ACCORDING TO OUR COLOR THEME
                        </p>
                        <div class="vstack gap-1">
                            <p class="cursive heading-4">
                                Principal Sponsors
                            </p>
                            <p class="sans-serif paragraph-2 bold">
                                FORMAL ATTIRE
                            </p>
                            <p class="sans-serif paragraph-3">
                                LADIES: GOWN / LONG DRESS
                            </p>
                            <p class="sans-serif paragraph-3">
                                MEN: SUIT, SLACKS
                            </p>
                        </div>
                        <div class="vstack gap-1">
                            <p class="cursive heading-4">
                                Guests
                            </p>
                            <p class="sans-serif paragraph-2 bold">
                                FORMAL / SEMI-FORMAL ATTIRE
                            </p>
                            <p class="sans-serif paragraph-3">
                                LADIES: COCKTAIL DRESS, TROUSER, COAT
                            </p>
                            <p class="sans-serif paragraph-3">
                                MEN: POLO, SLACKS
                            </p>
                        </div>
                    </div>
                    <div class="details-entry-1-col vstack gap-4">
                        <div class="vstack">
                            <img class="details-entry-visual" src="/res/images/details-map.png">
                            <p class="cursive heading-2">
                                Map
                            </p>
                            <div class="hstack gap-3 details-hstack details-entry-1-col details-map">
                                <div class="details-entry-2-col vstack gap-3">
                                    <div class="vstack">
                                        <p class="cursive heading-3">
                                            Hardin De Asis
                                        </p>
                                        <p class="sans-serif paragraph-3">
                                            MUZON ROAD,<br>BARANGAY MENDEZ, CAVITE
                                        </p>
                                    </div>
                                    <p class="sans-serif paragraph-3">
                                        SCAN OR CLICK THE<br>QR CODE TO GET DIRECTIONS<br>VIA GOOGLE MAPS
                                    </p>
                                </div>
                                <div class="details-entry-2-col">
                                    <a href="https://www.google.com/maps/place/Hardin+de+Asis/@14.1448499,120.8974958,15z/data=!4m6!3m5!1s0x33bd79e869def5bb:0x2f46c1bb6772e74f!8m2!3d14.1448499!4d120.8974958!16s%2Fg%2F11g4djl38d">
                                        <img class="details-map-qr" src="/res/images/map-qr-code.png">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('../footer'); -%>