<%- include('../header'); -%>
<div class="bg-leaves page-section gift-wrapper">
    <img class="gift-title" src="/res/images/gifts.png">
    <p class="sans-serif paragraph-3 gift-content align-self-center">
        YOUR PRESENCE AT OUR WEDDING IS ALREADY A PRESENT.<br>
        BUT IF WE ARE HONORED WITH A GIFT FROM YOU, <br>
        A MONETARY GIFT WILL BE VERY MUCH APPRECIATED
    </p>
</div>
<%- include('../footer'); -%>